@use "tools";

main {
  background: tools.$gradient-main;
}

.btn-primary {
  background-color: tools.$color-highlight;
}

.accordion-button,
.accordion-item {
  border-radius: 5px !important;
  border: 1px solid tools.$color-font;
}
